os: linux
addons:
  apt:
    packages:
    - lftp

script: echo "Tests will appear here..."

before_deploy:
  - ssh-keyscan -H $FTP_URL 2>&1 | tee -a $HOME/.ssh/known_hosts

deploy:
  provider: script
  script:
    - sed -i "s/@@BUILD_NUMBER@@/$TRAVIS_BUILD_NUMBER/" inc/footer.inc.html
    - cat inc/footer.inc.html
    - lftp -u ${FTP_USER},${FTP_PASS} sftp://${FTP_URL} -e "cd www ; mput favicon.ico ; mput *.php ; mput *.html ; mput -d css/* ; mput -d js/* ; mput -d img/* ; mput -d php/* ; mput -d inc/* ; exit"
  on:
    branch: master

notifications:
  email:
    recipients:
      - gael@skalab.fr
    on_success: alway
    on_failure: alway
