language: ruby
rvm:
  - 2.5.3

install: gem install jekyll html-proofer

script:
  - echo "I am build @@BUILD_NUMBER@@"
  - sed -i -e "s/@@BUILD_NUMBER@@/$TRAVIS_BUILD_NUMBER/" "_includes/footer.html"
  - echo "Now -> Jekyll time"
  - jekyll build
  - htmlproofer --http-status-ignore "999" ./_site

before_deploy:
  - ssh-keyscan -H $FTP_URL 2>&1 | tee -a $HOME/.ssh/known_hosts

deploy:
  skip_cleanup: true
  provider: script
  script: lftp -u ${FTP_USER},${FTP_PASS} sftp://${FTP_URL} -e "mirror -v -R ./_site/ ./www ; exit"
  on:
    branch: master

env:
  global:
  - NOKOGIRI_USE_SYSTEM_LIBRARIES=true # speeds up installation of html-proofer
addons:
  apt:
    packages:
    - libcurl4-openssl-dev
    - lftp
cache: bundler