<footer class="bg-black small text-white-50">
    <div class="container">
      <div class="row">
         <div class="col-md-2 mb-2 mb-md-0 text-left">
            <h6>{{ site.subtitle }}</h6>
        </div>
        <div class="col-md-8 mb-2 mb-md-0 text-center">
          <div class="social d-flex justify-content-center mb-3">
            <a href="https://www.linkedin.com/in/gael-barbier/" target="_blank" class="mx-2">
            <i class="fab fa-linkedin-in"></i>
            </a>
            <a href="https://github.com/gaeldb" target="_blank" class="mx-2">
              <i class="fab fa-github"></i>
            </a>
          </div>
           Copyright &copy; Skalab 2019 - Thanks to <a href="https://github.com/skalab/">Github</a> and Travis for CI ❤️ (build @@BUILD_NUMBER@@)<br />
            Icones magnifiques dessinées par <a href="https://www.flaticon.com/authors/mynamepong">mynamepong</a>, <a href="https://www.flaticon.com/authors/becris">becris</a> et <a href="https://www.flaticon.com/authors/smashicons">smashicons</a> de <a href="https://www.flaticon.com">Flaticon</a>
            <br />
            (Skalab est enregistré au RCS de Pontoise 751515719 🤓)
            <br />
        </div>

        <div class="col-md-2 mb-2 mb-md-0 text-right">
          <h2>Skalab</h2>
          Paris<br />
          (On a pas encore trouvé nos bureaux... 🏢)<br />
          06 66 96 32 46<br />
        </div>
      </div>
    </div>
  </footer>
